.container {
  display: flex;
  width: 100%;
  .decoration {
    flex-basis: 70%;
  }
  .cakeText {
    flex-basis: 30%;
    h1 {
      font-size: 4rem;
      font-weight: 700;
      span {
        font-size: 7rem;
      }
    }
  }
}
